<!-- <!doctype html>

<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
</head>
<body>

  <h1>Datastore and Firebase Auth Example</h1>

  <h2>Last 15 visits</h2>

</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <title>React App</title>
    <script defer="defer" src="{{ url_for('static', filename='main.bb38417d.js') }}"></script>
    <link href="{{ url_for('static', filename='main.6eee9c36.css') }}" rel="stylesheet">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>